In [1]:
from __future__ import print_function

import math

from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn import metrics
import tensorflow as tf
from tensorflow.python.data import Dataset

tf.logging.set_verbosity(tf.logging.ERROR)
#텐서플로우의 로그는 ( DEBUG, INFO, WARN, ERROR, FATAL ) 5개의 타입으로 이루어 져있는데 왼쪽으로 갈 수록 상위이다. 
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.1f}'.format #pandas 기본 설정 해주고 있다.

In [2]:
california_housing_dataframe = pd.read_csv("https://dl.google.com/mlcc/mledu-datasets/california_housing_train.csv", sep=",")

In [3]:
california_housing_dataframe = california_housing_dataframe.reindex(
    np.random.permutation(california_housing_dataframe.index))
#permutation 무작위로 데이터를 바꾸어 준다.   
#reindex는 제일 왼쪽줄의 인덱스를 바꾸어준다. 
california_housing_dataframe["median_house_value"] /= 1000.0
california_housing_dataframe

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>longitude</th>
      <th>latitude</th>
      <th>housing_median_age</th>
      <th>total_rooms</th>
      <th>total_bedrooms</th>
      <th>population</th>
      <th>households</th>
      <th>median_income</th>
      <th>median_house_value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4068</th>
      <td>-118.0</td>
      <td>33.7</td>
      <td>22.0</td>
      <td>3914.0</td>
      <td>600.0</td>
      <td>1871.0</td>
      <td>607.0</td>
      <td>5.9</td>
      <td>281.5</td>
    </tr>
    <tr>
      <th>6047</th>
      <td>-118.2</td>
      <td>34.0</td>
      <td>47.0</td>
      <td>1147.0</td>
      <td>297.0</td>
      <td>1097.0</td>
      <td>307.0</td>
      <td>2.6</td>
      <td>162.9</td>
    </tr>
    <tr>
      <th>5753</th>
      <td>-118.2</td>
      <td>34.0</td>
      <td>34.0</td>
      <td>1022.0</td>
      <td>286.0</td>
      <td>1058.0</td>
      <td>275.0</td>
      <td>2.6</td>
      <td>156.7</td>
    </tr>
    <tr>
      <th>3496</th>
      <td>-117.9</td>
      <td>33.9</td>
      <td>27.0</td>
      <td>698.0</td>
      <td>116.0</td>
      <td>391.0</td>
      <td>126.0</td>
      <td>5.9</td>
      <td>267.6</td>
    </tr>
    <tr>
      <th>2709</th>
      <td>-117.7</td>
      <td>36.1</td>
      <td>25.0</td>
      <td>1709.0</td>
      <td>439.0</td>
      <td>632.0</td>
      <td>292.0</td>
      <td>1.8</td>
      <td>45.5</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>12245</th>
      <td>-121.5</td>
      <td>38.6</td>
      <td>23.0</td>
      <td>7709.0</td>
      <td>1279.0</td>
      <td>4147.0</td>
      <td>1262.0</td>
      <td>3.8</td>
      <td>96.6</td>
    </tr>
    <tr>
      <th>15563</th>
      <td>-122.3</td>
      <td>38.0</td>
      <td>33.0</td>
      <td>1817.0</td>
      <td>441.0</td>
      <td>1220.0</td>
      <td>389.0</td>
      <td>2.5</td>
      <td>103.6</td>
    </tr>
    <tr>
      <th>13136</th>
      <td>-121.9</td>
      <td>36.5</td>
      <td>28.0</td>
      <td>2830.0</td>
      <td>458.0</td>
      <td>898.0</td>
      <td>370.0</td>
      <td>5.8</td>
      <td>500.0</td>
    </tr>
    <tr>
      <th>6371</th>
      <td>-118.3</td>
      <td>34.1</td>
      <td>45.0</td>
      <td>2174.0</td>
      <td>627.0</td>
      <td>1992.0</td>
      <td>557.0</td>
      <td>2.5</td>
      <td>167.8</td>
    </tr>
    <tr>
      <th>10281</th>
      <td>-120.0</td>
      <td>37.0</td>
      <td>25.0</td>
      <td>2115.0</td>
      <td>482.0</td>
      <td>1976.0</td>
      <td>474.0</td>
      <td>1.8</td>
      <td>53.9</td>
    </tr>
  </tbody>
</table>
<p>17000 rows × 9 columns</p>
</div>

In [4]:
california_housing_dataframe.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>longitude</th>
      <th>latitude</th>
      <th>housing_median_age</th>
      <th>total_rooms</th>
      <th>total_bedrooms</th>
      <th>population</th>
      <th>households</th>
      <th>median_income</th>
      <th>median_house_value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>17000.0</td>
      <td>17000.0</td>
      <td>17000.0</td>
      <td>17000.0</td>
      <td>17000.0</td>
      <td>17000.0</td>
      <td>17000.0</td>
      <td>17000.0</td>
      <td>17000.0</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>-119.6</td>
      <td>35.6</td>
      <td>28.6</td>
      <td>2643.7</td>
      <td>539.4</td>
      <td>1429.6</td>
      <td>501.2</td>
      <td>3.9</td>
      <td>207.3</td>
    </tr>
    <tr>
      <th>std</th>
      <td>2.0</td>
      <td>2.1</td>
      <td>12.6</td>
      <td>2179.9</td>
      <td>421.5</td>
      <td>1147.9</td>
      <td>384.5</td>
      <td>1.9</td>
      <td>116.0</td>
    </tr>
    <tr>
      <th>min</th>
      <td>-124.3</td>
      <td>32.5</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>3.0</td>
      <td>1.0</td>
      <td>0.5</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>-121.8</td>
      <td>33.9</td>
      <td>18.0</td>
      <td>1462.0</td>
      <td>297.0</td>
      <td>790.0</td>
      <td>282.0</td>
      <td>2.6</td>
      <td>119.4</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>-118.5</td>
      <td>34.2</td>
      <td>29.0</td>
      <td>2127.0</td>
      <td>434.0</td>
      <td>1167.0</td>
      <td>409.0</td>
      <td>3.5</td>
      <td>180.4</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>-118.0</td>
      <td>37.7</td>
      <td>37.0</td>
      <td>3151.2</td>
      <td>648.2</td>
      <td>1721.0</td>
      <td>605.2</td>
      <td>4.8</td>
      <td>265.0</td>
    </tr>
    <tr>
      <th>max</th>
      <td>-114.3</td>
      <td>42.0</td>
      <td>52.0</td>
      <td>37937.0</td>
      <td>6445.0</td>
      <td>35682.0</td>
      <td>6082.0</td>
      <td>15.0</td>
      <td>500.0</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
my_feature = california_housing_dataframe[["total_rooms"]]# [[]]는 객체를 반환해주고 []는 데이터들을 반환해줌 
feature_columns = [tf.feature_column.numeric_column("total_rooms"), tf.feature_column.numeric_column("population")]# 직접적으로 접근하지 하지않고 이러한 데이터들이 있습니다라고 알려줌 
print(feature_columns) 
# 텐서들이 그래프를 만들고 tf.session을 만들어서 run을해야 그래프를 갖고 훈련하기 시작한다.

[_NumericColumn(key='total_rooms', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [6]:
targets = california_housing_dataframe["median_house_value"]

In [7]:
# Use gradient descent as the optimizer for training the model.
my_optimizer = tf.train.GradientDescentOptimizer(learning_rate=0.00002) # 학습률 0.0000001
my_optimizer = tf.contrib.estimator.clip_gradients_by_norm(my_optimizer, 5.0)
# clip_norm: A 0-D (scalar) Tensor > 0. The clipping ratio.
# Gradient Clipping (그래디언트 클리핑) 
# RNN 같은 깊은 뉴럴 네트워크에서 폭팔하는 것을 방지하는 기법  
# L2 norm이 초과할 때 (threshold/L2 norm)을 곱해주는 것이다. 

# Configure the linear regression model with our feature columns and optimizer.
# Set a learning rate of 0.0000001 for Gradient Descent.
linear_regressor = tf.estimator.LinearRegressor(
    feature_columns=feature_columns,
    optimizer=my_optimizer
)

In [8]:
def my_input_fn(features, targets, batch_size=1, shuffle=True, num_epochs=None):
    # 기본값인 num_epochs=None을 repeat()에 전달하면 입력 데이터가 무한정 반복됩니다.
    """Trains a linear regression model of one feature.
  
    Args:
      features: pandas DataFrame of features
      targets: pandas DataFrame of targets
      batch_size: Size of batches to be passed to the model
      shuffle: True or False. Whether to shuffle the data.
      num_epochs: Number of epochs for which data should be repeated. None = repeat indefinitely
    Returns:
      Tuple of (features, labels) for next data batch
    """
  
    # Convert pandas data into a dict of np arrays.
    features = {key: np.array(value) for key, value in dict(features).items()}                                           
 
    # Construct a dataset, and configure batching/repeating
    #데이터 셋을 만드는 함수이다. 
    ds = Dataset.from_tensor_slices((features, targets)) # warning: 2GB limit
    ds = ds.batch(batch_size).repeat(num_epochs) # num_epochs가 false면 계속 반복 
    #데이터를 읽어올 개수를 지정하는 batch_size
    # Shuffle the data, if specified
    if shuffle:
      ds = ds.shuffle(buffer_size=10000)
    
    # Return the next batch of data
    features, labels = ds.make_one_shot_iterator().get_next() 
    # 다음 항목에 연결되어 있는 tf.Tensor 객체를 리턴합니다.
    # 데이터 셋에 있는 열거가능한 요소들을 이터레이터로 만든다. 
    return features, labels
# 역활분리를 잘해놓은파이썬 랜덤에서

In [9]:
_ = linear_regressor.train(
    input_fn = lambda: my_input_fn(my_feature, targets),
    # input_fn 데이터를 반환해주는 애이다. 
    # 직접적으로 호출이 아니라 함수를 전달해주는 방식이다. 
    steps=1000
)

In [10]:
# Create an input function for predictions.
# Note: Since we're making just one prediction for each example, we don't 
# need to repeat or shuffle the data here.
prediction_input_fn = lambda : my_input_fn(my_feature, targets, num_epochs=1, shuffle=False)

# Call predict() on the linear_regressor to make predictions.
predictions = linear_regressor.predict(input_fn=prediction_input_fn)

# Format predictions as a NumPy array, so we can calculate error metrics.
predictions = np.array([item['predictions'][0] for item in predictions])

# Print Mean Squared Error and Root Mean Squared Error.
mean_squared_error = metrics.mean_squared_error(predictions, targets)
root_mean_squared_error = math.sqrt(mean_squared_error)
print("Mean Squared Error (on training data): %0.3f" % mean_squared_error) # MSE
print("Root Mean Squared Error (on training data): %0.3f" % root_mean_squared_error)

Mean Squared Error (on training data): 28589.500
Root Mean Squared Error (on training data): 169.084

In [11]:
min_house_value = california_housing_dataframe["median_house_value"].min()
max_house_value = california_housing_dataframe["median_house_value"].max()
min_max_difference = max_house_value - min_house_value

print("Min. Median House Value: %0.3f" % min_house_value)
print("Max. Median House Value: %0.3f" % max_house_value)
print("Difference between Min. and Max.: %0.3f" % min_max_difference)
print("Root Mean Squared Error: %0.3f" % root_mean_squared_error)  # RMSE

Min. Median House Value: 14.999
Max. Median House Value: 500.001
Difference between Min. and Max.: 485.002
Root Mean Squared Error: 169.084

In [12]:
calibration_data = pd.DataFrame()
calibration_data["predictions"] = pd.Series(predictions)
calibration_data["targets"] = pd.Series(targets)
calibration_data

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>predictions</th>
      <th>targets</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>228.6</td>
      <td>66.9</td>
    </tr>
    <tr>
      <th>1</th>
      <td>67.0</td>
      <td>80.1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>59.7</td>
      <td>85.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>40.8</td>
      <td>73.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>99.8</td>
      <td>65.5</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>16995</th>
      <td>450.2</td>
      <td>111.4</td>
    </tr>
    <tr>
      <th>16996</th>
      <td>106.1</td>
      <td>79.0</td>
    </tr>
    <tr>
      <th>16997</th>
      <td>165.3</td>
      <td>103.6</td>
    </tr>
    <tr>
      <th>16998</th>
      <td>127.0</td>
      <td>85.8</td>
    </tr>
    <tr>
      <th>16999</th>
      <td>123.5</td>
      <td>94.6</td>
    </tr>
  </tbody>
</table>
<p>17000 rows × 2 columns</p>
</div>

In [13]:
sample = california_housing_dataframe.sample(n=300)

In [14]:
# Get the min and max total_rooms values.
x_0 = sample["total_rooms"].min()
x_1 = sample["total_rooms"].max()

# Retrieve the final weight and bias generated during training.
weight = linear_regressor.get_variable_value('linear/linear_model/total_rooms/weights')[0]
bias = linear_regressor.get_variable_value('linear/linear_model/bias_weights')

# Get the predicted median_house_values for the min and max total_rooms values.
y_0 = weight * x_0 + bias 
y_1 = weight * x_1 + bias

# Plot our regression line from (x_0, y_0) to (x_1, y_1).
plt.plot([x_0, x_1], [y_0, y_1], c='r')

# Label the graph axes.
plt.ylabel("median_house_value")
plt.xlabel("total_rooms")

# Plot a scatter plot from our data sample.
plt.scatter(sample["total_rooms"], sample["median_house_value"])

# Display graph.
plt.show()